@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- About me -->
<div class="d-flex">
    <div class="col-lg-8 col-md-8 col-12">
        <div >
            <h1>Hii,</h1>
            <h1>I'm Arjun Negi</h1>
            <h1>I'm a Full Stack</h1>
            <h1>.Net Developer</h1>
        </div>
        <div>
            <p>
                Hello, Welcome to my profile, My name is Arjun Negi from Almora. I have done my entire Schooling from Uttarakhand, India. I have done my Diploma in "Information Technology" from Government Polytechnic Dwarahat, Almora. Currently I am graduate in B.Tech. in "Computer Science & Engineering" from Institute of Technology Gopeshwar, Chamoli. I have completed internship at "CompWallha" (Software Development) as a "Web developer and designer". Apart from studies/you can say my hobby, I like to travel alone/with friends, learn about new things, and I always like to do/learn something new and share what I have learned with friends.
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        <img src="image/mypic.jpg" width="400" height="400" alt="Sample Photo" class="rounded-circle" />
    </div>
</div>

<!-- About my Education -->
<div class="mt-lg-5">
<h1 class="text-center">Education</h1>
<p class="text-center">My education has been a journey of self-discovery and growth. My educational details are as follows.</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- card1 -->
  <div class="col">
    <div class="card h-100">
      <img src="image/itg.png" class="h-10 w-50 mx-auto card-img-top" alt="ITG">
      <div class="card-body">
        <h5 class="card-title text-center">Graduation(B.Tech)</h5>
        <p class="card-text text-center">I am currently graduate in Btech with Computer Science and engineering from Institute of technology gopeshwar, chamoli,uttarakhand,india</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">2021-2024</small>
      </div>
    </div>
  </div>
  <!-- card2 -->
  <div class="col">
    <div class="card h-100">
      <img src="image/polly.png" class="h-10 w-50 mx-auto card-img-top" alt="GPD">
      <div class="card-body">
        <h5 class="card-title text-center">Diploma</h5>
        <p class="card-text text-center">I have completed diploma in information technology from Govt. polytechnic Dwarahat, Almora, Uttarakhand, India</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">2018-2021</small>
      </div>
    </div>
  </div>
  <!-- card3 -->
  <div class="col">
    <div class="card h-100">
      <img src="image/school.png" class="h-10 w-50 mx-auto card-img-top" alt="GICJ">
      <div class="card-body">
        <h5 class="card-title text-center">Intermediate</h5>
        <p class="card-text text-center">I have done my Intermediate from Government Inter College Jalali, Almora, Uttarakhand, India.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">2017-2018</small>
      </div>
    </div>
  </div>
  <!-- card4 -->
  <div class="col">
    <div class="card h-100">
      <img src="image/school.png" class="h-10 w-50 mx-auto card-img-top" alt="GPD">
      <div class="card-body">
        <h5 class="card-title text-center">High School</h5>
        <p class="card-text text-center">I have done my high school from Government Inter College Jalali, Almora, Uttarakhand, India.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">2015-2016</small>
      </div>
    </div>
  </div>
</div>
</div>

<!-- about my skills -->
<div class="mt-3">
    <h1 class="text-center">My Skills</h1>
    <p class="text-center">Here are some of my skills on which I have been working on for the past some years and some I have basic knowledge.</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- card1 -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center">Web Technology</h5>
       <div class="gap-5 mt-3 text-center">
      <span class="card-text bg-primary p-1 rounded text-white">HTML</span>
      <span class="card-text bg-primary p-1 rounded text-white">CSS</span>
      <span class="card-text bg-primary p-1 rounded text-white">javaScript</span>
      <span class="card-text bg-primary p-1 rounded text-white">TailWind CSS</span>
      <span class="card-text bg-primary p-1 rounded text-white">Bootstrap</span><br /><br />
      <span class="card-text bg-primary p-1 rounded text-white">ReactJs</span>
      <span class="card-text bg-primary p-1 rounded text-white">ASP.Net</span>
     </div>
      </div>
    </div>
  </div>
  <!-- card2 -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
         <h5 class="card-title text-center">Programming Language</h5>
      <div class="gap-5 mt-3 text-center">
          <span class="card-text bg-primary p-1 rounded text-white">C Prog.</span>
          <span class="card-text bg-primary p-1 rounded text-white">C++</span>
          <span class="card-text bg-primary p-1 rounded text-white">Java</span>
          <span class="card-text bg-primary p-1 rounded text-white">C#</span>
      </div>
      </div>
    </div>
  </div>
  <!-- card3 -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
         <h5 class="card-title text-center">Other Technology</h5>
      <div class="gap-5 mt-3 text-center">
          <span class="card-text bg-primary p-1 rounded text-white">Git</span>
          <span class="card-text bg-primary p-1 rounded text-white">Github</span>
          <span class="card-text bg-primary p-1 rounded text-white">Netlify</span>
          <span class="card-text bg-primary p-1 rounded text-white">VS Code/Stdio</span>
          <span class="card-text bg-primary p-1 rounded text-white">AWS</span>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- about my projects -->
<div class="mt-5">
<h1 class="text-center">Projects</h1>
<p class="text-center">I have worked on a web apps. Here are some of my projects.</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- card1 -->
  <div class="col">
    <div class="card h-100">
      <img src="#" class=" mx-auto card-img-top" alt="ITG">
      <div class="card-body">
        <a href="https://github.com/ARJU7500/Alumini-Management-System--AMS-ITG" target="_blank" class="text-decoration-none text-dark"><h5 class="card-title text-center">Alumni Management System(A.M.S.)</h5></a>
        <p class="card-text text-center">
            This project is my major project in B. Tech. Where my role is as a front-end developer.Here we store and manage
data of alumni students which interact with college students. Where we use Technology Front-end (HTML, CSS, javaScript, Vite.js), Back-end (Node.js, Express.js) and
Database (mongoDB).
 </p>
      </div>
    </div>
  </div>
  <!-- card2 -->
  <div class="col">
    <div class="card h-100">
      <img src="image/ec.png" class="mx-auto card-img-top" alt="project">
      <div class="card-body">
        <a href="https://github.com/ARJU7500/EcomerceWebsiteReactJs" class="text-decoration-none text-dark" target="_blank"><h5 class="card-title text-center">Read Store(E-Commerce)</h5></a>
        <p class="card-text text-center">This is a E-commerce website where we show the cloths. Here we use  HTML, CSS, javaScript, Bootstarp (Freamework), ReactJs (Library) technology.</p>
      </div>
    </div>
  </div>

  <!--card3-->
   <div class="col">
    <div class="card h-100">
      <img src="image/collegeWeb.png" class=" mx-auto card-img-top" alt="ITG">
      <div class="card-body">
        <a href="https://github.com/ARJU7500/project-in-college-website" class="text-decoration-none text-dark" target="_blank"><h5 class="card-title text-center">College Website</h5></a>
        <p class="card-text text-center">This project is my major project for my diploma. Here full information of my college (govt. polytechnic
Dwarahat) like teacher’s, courses, branches etc And Here we use technology like HTML, CSS, javaScript, Framework (Bootstrap), PHP, MySql</p>
      </div>
    </div>
  </div>
  <!-- card4 -->
  <div class="col">
    <div class="card h-100">
      <img src="image/game.png" class=" mx-auto card-img-top" alt="GICJ">
      <div class="card-body">
        <a href="https://arju7500.github.io/mygame/" class="text-decoration-none text-dark" target="_blank"><h5 class="card-title text-center">Gamming Website</h5></a>
        <p class="card-text text-center">This is basic gamming website were we use technology like HTML,CSS,javaScript.</p>
      </div>
    </div>
  </div>
</div>
</div>

<!--internship-->
<div class="mt-5 ">
    <h1 class="text-center">Internship</h1>
    <p class="text-center">My work experience as a front-end developer.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
    <!-- card1 -->
  <div class="col">
    <div class="card h-100">
      <img src="image/intern.jpg" class="h-10 w-50 mx-auto card-img-top" alt="cw">
      <div class="card-body">
        <a href="#" target="_blank" class="text-decoration-none text-dark"><h5 class="card-title text-center">Web Developer And Designer
(CompWallha)</h5></a>
        <p class="card-text text-center">
           CompWallha is a Software Development company where we develope different type projects.I am work as a intern at this company and good exprience with compwallha.
           Where i used technology like HTML, CSS, javaScript, ReactJs and TailWind CSS.It is Three month internship.
 </p>
      </div>
    </div>
  </div>
  </div>
</div>

<!--contact details-->
<div class="mt-5">
    <h1 class="text-center">Contact</h1>
    <p class="text-center">Feel free to reach out to me for any opportunities!</p>
    <div class="d-flex justify-content-center">
        <!--form-->
            <form class="g-5 col-lg-6">
                <div class="col-md-10">
    <label for="inputname" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputname" placeholder="Enter Your Name">
  </div>
  <div class="col-md-10">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your Email Id">
  </div>
  <div class="col-10">
    <label for="inputAddress" class="form-label">Subject</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Enter Your Subject">
  </div>
  <div class="col-10">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your message"></textarea>
  </div>
  <br />
  <div class="col-10">
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
</form>
        <!--details-->
        <div class="col-lg-6">
            <img src="image/git.png" class="" />
        </div>
    </div>
</div>
